@model UpayaWebApp.PartnerAdmin

@{
    ViewBag.Title = "Partner Admin Details";
}

<h2>Partner Admin Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartnerCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerCompany.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
