
@{
    ViewBag.Title = "AppError";
}

<h2>Application Error</h2>
<p>An application error has occured, please report the error below to the system administrator.</p>
<p>
@ViewBag.ErrorMessage
</p>
